header {
  font-family: var(--font);
  box-shadow: 0 3px 20px black;
}

body {
  font-family: 'Courgette', cursive;
}

.header-title:hover {
  background-color: grey;
}

.hero-position {
  position: absolute;
  top: 80%;
}

@media (min-width: 768px) {
  .hero-position {
    top: 90%;
  }
}

.sub-text {
  color: grey;
}

.seasonal {
  background-color: lightgray;
}